/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.nav	{
	display: flex;
	flex-direction: row;
	align-items: baseline;
	margin-bottom: 30px;
	font-size: large;
	width: 100%;
}

.nav a {
    display: flex;
	margin-left: 40px;
	margin-top: 30px;
	color: gray;
	text-decoration: none;	
}

.nav img {
	display: flex;
	margin-left: 100px;
	margin-top: 30px;
}

.header {
    display: flex;
    flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	margin-bottom: 30px;
}

.header .services {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.services-header {
    display: flex;
    font-size: x-large;
}

hr {
	display: flex;
	flex-wrap: nowrap;
    color: black;
    height: 1px;
    width: 100%;
}

.specs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.specs .digital {
    display: flex;
    flex-direction: column;
    width: 45%;
    border: 1px solid black;
    background-color: whitesmoke;
    margin-bottom: 20px;
    align-items: baseline;

}

.sub-h2 {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}

.sub-p {

    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

button {

    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    border: solid 1px black;
    background-color: white;

}

.specs .ux {
    display: flex;
    flex-direction: column;
    width: 45%;
    border: 1px solid black;
    background-color: whitesmoke;
    margin-bottom: 20px;
    align-items: baseline;
}

.specs .marketing {
    display: flex;
    flex-direction: column;
    width: 45%;
    border: 1px solid black;
    background-color: whitesmoke;
    margin-bottom: 20px;
    align-items: baseline;
}

.web-dev {
    display: flex;
    flex-direction: column;
    width: 45%;
    border: 1px solid black;
    background-color: whitesmoke;
    margin-bottom: 20px;
    align-items: baseline;
}

.ios-dev {
    display: flex;
    flex-direction: column;
    width: 45%;
    border: 1px solid black;
    background-color: whitesmoke;
    margin-bottom: 20px;
    align-items: baseline;
}

.android {
    display: flex;
    flex-direction: column;
    width: 45%;
    border: 1px solid black;
    background-color: whitesmoke;
    margin-bottom: 20px;
    align-items: baseline;
}

.facts {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: flex-start;
    justify-content: space-around;
}

.facts .facts-h2 {
    
    display: flex;

}

.facts .some-facts {

        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 20px;
}

.things {

    display: flex;
    flex-direction: column;
    list-style: inside;
    list-style-type: square;
    line-height: normal;

}

.info {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-bottom: 20px;
}

.info-img {
    display: flex;
    width: 45%
}

.services-info-img {
    width: 100%
}

.footer {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-top: 75px;
    text-align: center;
}

